{% extends "Acceuil.html" %}
{% block contenu %}

<h1>LISTE DES PRODUITS</h1>


<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nom</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">PRIX UNITAIRE</th>
          <th scope="col">CATEGORIE</th>
        </tr>
      </thead>
      <tbody>
        {% for produit in listeproduits %}
        <tr>
          <th scope="row">{{ produit.id}}</th>
          <td>{{ produit.nom}}</td>
          <td>{{ produit.description}}</td>
          <td>{{ produit.prix_unitaire}}</td>
          <td>{{ produit.Categorie}}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  <div>
    <a class="btn btn-success" role="button" href="{% url 'ajoutProduit' %}" style="position: absolute; bottom: 20px;  left: 20px;">AJOUTER UN PRODUIT</a>
</div>

<div>
  <a class="btn btn-success" role="button" href="{% url 'ajoutCategorie' %}" style="position: absolute; bottom: 20px;  right: 20px;">AJOUT CATEGORIE</a>
</div>

{% endblock %}