{% extends "Acceuil.html" %}
{% block contenu %}

<h1 style="text-align: center;">LISTE DES PRODUITS</h1>


<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nom</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">PRIX UNITAIRE</th>
          <th scope="col">CATEGORIE</th>
          <th scope="col">ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        {% for produit in listeproduits %}
        <tr>
          <th scope="row">{{ produit.id}}</th>
          <td>{{ produit.nom}}</td>
          <td>{{ produit.description}}</td>
          <td>{{ produit.prix_unitaire}}</td>
          <td>{{ produit.Categorie}}</td>
          <td>
            <a  a class="btn btn-warning" role="button" href="{% url 'modifierProduit' produit.id %}"><i class="bi bi-pencil"></i></a>
            <a  class="btn btn-danger" role="button" href="{% url 'supprimerProduit' produit.id %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');"><i class="bi bi-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  <div>
    <a class="btn btn-success" role="button" href="{% url 'ajoutProduit' %}" style="position: fixed; bottom: 10px;  left: 10px;">AJOUTER UN PRODUIT</a>
</div>

<div>
  <a class="btn btn-success" role="button" href="{% url 'ajoutCategorie' %}" style="position: fixed; bottom: 10px;  right: 10px;">AJOUT CATEGORIE</a>
</div>

{% endblock %}