{% extends "Acceuil.html" %}
{% block contenu %}

<h1 style="text-align: center;">LISTE DES ACHATS</h1>


<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">QUANTITE TOTAL</th>
          <th scope="col">PRIX TOTAL</th>
          <th scope="col">STATUT</th>
          <th scope="col">CLIENT</th>
          <th scope="col">PANIER</th>
          <th scope="col">PRODUITS</th>
          <th scope="col">ACTIONS</th>

        </tr>
      </thead>
      <tbody>
        {% for achat in listeachats %}
        <tr>
          <th scope="row">{{ achat.id}}</th>
          <td>{{ achat.quantité_total}}</td>
          <td>{{ achat.prix_total}}</td>
          <td>{{ achat.Statut}}</td>
          <td>{{ achat.Client}}</td>
          <td>{{ achat.Panier}}</td>
          <td>{{ achat.Produit}}</td>
          <td>
            <a  a class="btn btn-warning" role="button" href="{% url 'modifierAchat'  achat.id %}"><i class="bi bi-pencil"></i></a>
            <a  class="btn btn-danger" role="button" href="{% url 'supprimerAchat'  achat.id %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet achat  ?');"><i class="bi bi-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  <div>
    <a class="btn btn-success" role="button" href="{% url 'ajoutAchat' %}" style="position: fixed; bottom: 20px;  left: 20px;">AJOUTER UN ACHAT</a>
</div>

<div>
    <a class="btn btn-success" role="button" href="{% url 'ajoutPanier' %}" style="position: fixed; bottom: 20px;  right: 20px;">AJOUTER UN PANIER</a>
</div>
{% endblock %}